$colors: (
  primary: #ea6601,
  primary-shade: #d55d01,
  secondary-main: #242e36,
  neutral-white: #fff,
  neutral-black: #ebebeb,
  neutral-black-84: #272729,
  neutral-black-60: #626266,
  neutral-black-50: #898a8f,
  neutral-black-40: #f2f2f2,
  neutral-black-20: #cccccc,
  neutral-black-02: #f7f7f7,
);
